/* main toparea with The Standard logo, title, and small bottom right and bottom left text */
section.toparea {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    display: block;
    clear: both;
    background-color: var(--white-color);
    color: var(--theme-color);
    padding: 2.5rem 1rem;
    text-align: center;
    position: relative;
    /*border-bottom: 1px solid var(--light-color);*/
    box-shadow: 0 0 1rem var(--text-shadow-color);
    user-select: none;
}

/* after user scrolls past, it disappears (class toggled by JS) */
section.toparea:not(.active) {
    opacity: 0;
}

/* line separating logo and title */
section.toparea hr {
    max-width: 100%;
    width: 25rem;
    border: none;
    border-top: 1px solid var(--theme-color-transparent);
    display: inline-block;
    margin: 1rem 0;
}

/* logo with "the" small and "Standard" big, and line heights match up */
section.toparea div.logo {
    display: block;
    height: 3.5rem;
    opacity: 1;
    zoom: 90%;
}
section.toparea div.logo * {
    display: inline-block;
    font-size: 3rem;
    line-height: 3.5rem;
    vertical-align: top;
}
section.toparea div.logo p {
    font-size: 1.1rem;
    opacity: 0.7;
    line-height: 3.65rem;
}

/* title */
section.toparea div.title {
    height: 5rem;
}
section.toparea div.title h1 {
    font-size: 5rem;
    line-height: 5rem;
    text-transform: uppercase;
    letter-spacing: -0.05rem;
    text-shadow: 0 0.1rem 0.4rem var(--text-shadow-light-color);
    font-family: 'Open Sans Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}

/* bottom right and left text */
section.toparea .bottom-right,
section.toparea .bottom-left {
    display: block;
    position: absolute;
    font-size: 0.9rem;
    color: var(--dark-text-color);
}
section.toparea .bottom-right {
    bottom: 0.5rem;
    right: 0.5rem;
}
section.toparea .bottom-left {
    bottom: 0.5rem;
    left: 0.5rem;
}

/* responsiveness */
@media only screen and (max-width: 1000px) {
    section.toparea {
        zoom: 90%;
    }
}

@media only screen and (max-width: 725px) {
    section.toparea {
        padding: 2.25rem 0.5rem;
    }
    section.toparea div.logo {
        zoom: 80%;
    }
    section.toparea hr {
        margin: 0.5rem 0;
        border: 1px solid var(--theme-color-transparent);
        border-bottom: none;
    }
    section.toparea div.title {
        height: auto;
        overflow: hidden;
    }
    section.toparea div.title h1 {
        font-size: 3.25rem;
        line-height: 3.75rem;
    }

    section.toparea .bottom-right,
    section.toparea .bottom-left {
        opacity: 0.9;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 550px) {
    section.toparea div.logo {
        zoom: 70%;
    }
    section.toparea div.title h1 {
        font-size: 2.75rem;
        line-height: 3.25rem;
    }
}
