/* toparea/nav that is shown while user is scrolling */
section.toparea-scrolling {
    height: var(--scrolling-toparea-height);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: block;
    color: var(--theme-color);
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: var(--white-color);
    box-shadow: 0 0 0.65rem var(--text-shadow-light-color);
    user-select: none;
    z-index: 9999;
}

/* when at the top, the other toparea is shown and this one is not displayed (class toggled by JS) */
section.toparea-scrolling:not(.active) {
    display: none;
}

/* misc styles */
section.toparea-scrolling > * {
    display: block;
    float: left;
}

/* left title */
section.toparea-scrolling h1.left {
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    letter-spacing: -0.05rem;
    font-family: 'Open Sans Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}

/* right image and link */
section.toparea-scrolling .right {
    float: right;
    border: none;
    transition: box-shadow 0.2s, transform 0.2s, opacity 0.2s;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 0;
}
section.toparea-scrolling .right:hover {
    transform: translateY(-1px);
    box-shadow: 0 0.1rem 0.4rem var(--text-shadow-light-color);
    opacity: 0.85;
}
section.toparea-scrolling .right:active {
    transform: translateY(0);
    box-shadow: 0 0.075rem 0.3rem var(--text-shadow-light-color);
    opacity: 0.95;
}
section.toparea-scrolling .right img {
    height: 2.5rem;
    width: 2.5rem;
}

/* responsiveness */
@media only screen and (max-width: 725px) {
    section.toparea-scrolling {
        zoom: 90%;
        padding: 0.5rem 0.75rem;
    }
}

@media only screen and (max-width: 550px) {
    section.toparea-scrolling {
        zoom: 80%;
        padding: 0.5rem 0.65rem;
    }
}
