body.loading > *:not(.loader-container) {
    display: none;
}

.loader-container {
    width: 100%;
    height: 100vh;
    background-color: var(--page-background-color);
}

body:not(.loading) > .loader-container {
    display: none;
}

.loader-container .loader {
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0.5rem solid var(--light-color);
    border-left-color: var(--theme-color);
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: rotate;
    position: absolute;
    top: 48.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@-moz-keyframes rotate {
    100% {
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@-webkit-keyframes rotate {
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes rotate {
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
