section.storiesarea {
    height: auto;
    overflow: hidden;
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

/* photos section */
section.storiesarea .photos {
    display: block;
    width: 100%;
    height: 10rem;
    object-fit: cover;
    position: relative;
    cursor: pointer;
}
section.storiesarea .photos .image {
    height: 100%;
    width: calc(100% / 6);
    display: block;
    float: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.storiesarea .photos .image:nth-child(1) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../img/aslclosed1.jpg);
}
section.storiesarea .photos .image:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../img/aslclosed5.jpg);
}
section.storiesarea .photos .image:nth-child(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../img/aslclosed2.jpg);
}
section.storiesarea .photos .image:nth-child(4) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../img/aslclosed6.jpg);
}
section.storiesarea .photos .image:nth-child(5) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../img/aslclosed4.jpg);
}
section.storiesarea .photos .image:nth-child(6) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../img/aslclosed3.jpg);
}

section.storiesarea .photos .link {
    position: absolute;
    left: 50%;
    top: 48.5%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    font-size: 3rem;
    line-height: 1.35;
    width: calc(100% - 2.5rem);
    text-align: center;
    font-weight: 600;
    text-align: center;
    transition: transform 0.2s;
    backface-visibility: hidden;
}
section.storiesarea .photos .link > * {
    vertical-align: top;
    backface-visibility: hidden;
}
section.storiesarea .photos .link svg {
    height: 5rem;
    width: 5rem;
    box-sizing: border-box;
    fill: var(--white-color);
    border-radius: 50%;
    margin-right: 1.75rem;
    display: inline-block;
    box-shadow: 0 0.1rem 0.8rem var(--text-shadow-dark-color);
}
section.storiesarea .photos .link .title {
    font-size: 2.5rem;
    line-height: 3rem;
    padding: 1rem 0;
    box-sizing: border-box;
    min-height: 5rem;
    display: inline-block;
    text-shadow: 0 0.2rem 1.6rem var(--text-shadow-dark-color);
}
section.storiesarea .photos:hover .link {
    transform: translate(-50%, -50%) scale(1.025);
}
section.storiesarea .photos:active .link {
    transform: translate(-50%, -50%) scale(1.01);
}

/* responsiveness for photos */
@media only screen and (max-width: 850px) {
    section.storiesarea .photos {
        height: 10rem;
        --dark-overlay: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }
    section.storiesarea .photos .image {
        height: 5rem;
        width: calc(100% / 3);
    }
    section.storiesarea .photos .link {
        zoom: 65%;
    }
    section.storiesarea .photos .link svg {
        height: 3.5rem;
        width: 3.5rem;
    }
    section.storiesarea .photos .link .title {
        min-height: auto;
        height: 3.5rem;
        line-height: 3.5rem;
        padding: 0;
    }
}
@media only screen and (max-width: 650px) {
    section.storiesarea .photos .link svg {
        margin: 0 1.5rem;
    }
}

/* video modal */
.video-modal-container {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-duration: 0.35s;
}
.video-modal-container:not(.active) {
    display: none;
}

.video-modal {
    width: 50rem;
    max-width: calc(100% - 2rem);
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
    background-color: var(--white-color);
    border-radius: 4px;
    z-index: 9999;
    animation-duration: 0.35s;
    position: relative;
    overflow: hidden;
    font-size: 0;
}

.video-modal .close-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.8375rem;
    height: 3rem;
    width: 3rem;
    box-sizing: border-box;
    background-color: transparent;
    fill: var(--white-color);
    opacity: 0.35;
    transition: opacity 0.2s, transform 0.2s;
    cursor: pointer;
    border: none;
    outline: none;
    backface-visibility: hidden;
}
.video-modal .close-button:hover {
    opacity: 0.9;
    transform: scale(1.05);
}
.video-modal .close-button:active {
    transform: scale(1);
}
.video-modal .close-button svg {
    width: 100%;
    height: 100%;
}
.video-modal iframe {
    width: 100%;
    height: 25rem;
}

/* inner section with rows of boxes */
section.storiesarea .inner {
    padding: 3.5rem 5rem;
    height: auto;
    overflow: hidden;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

/* less padding on smaller screens */
@media only screen and (max-width: 1200px) {
    section.storiesarea .inner {
        padding: 3rem 2rem;
    }
}
@media only screen and (max-width: 1000px) {
    section.storiesarea .inner {
        padding: 2.5rem 1.5rem;
    }
}
@media only screen and (max-width: 900px) {
    section.storiesarea .inner {
        padding: 2.5rem 1rem;
    }
}
@media only screen and (max-width: 750px) {
    section.storiesarea .inner {
        padding: 2rem 0.5rem;
    }
}

section.storiesarea .inner .row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}
section.storiesarea .inner .row:not(:last-child) {
    margin-bottom: 2.5rem;
}

section.storiesarea .inner .row .box {
    background-color: var(--white-color);
    flex-basis: 100%;
    box-sizing: border-box;
    padding: 1.75rem 2.5rem;
    border-radius: 8px;
    border: 1px solid var(--lightish-color);
    /*box-shadow: 0 0.05rem 0.4rem var(--text-shadow-lighter-color);*/
    line-height: 1.75;
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
}
section.storiesarea .inner .row .box:not(.text) {
    box-shadow: 0 0.05rem 0.4rem var(--text-shadow-lighter-color);
}
section.storiesarea .inner .row a.box {
    box-shadow: 0 0.05rem 0.4rem var(--text-shadow-lighter-color);
    opacity: 0.95;
    transition: transform 0.25s, opacity 0.25s, box-shadow 0.25s;
    overflow: hidden;
    color: inherit;
}
section.storiesarea .inner .row a.box {
    padding: 0 !important;
}
section.storiesarea .inner .row a.box > * {
    display: block;
}
section.storiesarea .inner .row a.box .inner {
    padding: 1.75rem 2.5rem;
    padding-top: 1rem;
}
section.storiesarea .inner .row a.box > img {
    width: 100%;
    border-bottom: 1px solid var(--lighter-color);
}

@media only screen and (max-width: 750px) {
    section.storiesarea .inner .row a.box {
        zoom: 77.5% !important;
    }
    section.storiesarea .inner .row a.box > img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }
    section.storiesarea .inner .row a.box .inner {
        padding: 1.25rem 2rem;
    }
}

section.storiesarea .inner .row a.box:hover {
    transform: translateY(-4px);
    box-shadow: 0 0.1rem 0.8rem var(--text-shadow-light-color);
    opacity: 1;
}
section.storiesarea .inner .row a.box:active {
    transform: translateY(-2px);
    box-shadow: 0 0.06rem 0.48rem var(--text-shadow-light-color);
    opacity: 1;
}

section.storiesarea .inner .row a.box h1.title {
    font-size: 2.65rem;
    line-height: 1.35;
    color: var(--dark-text-color);
    margin-bottom: 0.85rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Open Sans Condensed', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}
section.storiesarea .inner .row a.box p.preview-text {
    font-size: 1rem;
    opacity: 0.9;
    line-height: 1.65;
}
section.storiesarea .inner .row a.box p.preview-text .read-more {
    font-weight: 600;
}
/* double box */
section.storiesarea .inner .row.double-box .box {
    flex-basis: calc((100% - 2.5rem) / 2);
}
section.storiesarea .inner .row.double-box .box:first-child {
    margin-right: 2.5rem;
}

@media only screen and (max-width: 1150px) {
    section.storiesarea .inner .row.double-box {
        flex-direction: column;
    }
    section.storiesarea .inner .row.double-box:nth-child(even) {
        flex-direction: column-reverse;
    }
    section.storiesarea .inner .row.double-box .box {
        flex-basis: 100%;
    }
    section.storiesarea .inner .row.double-box .box:first-child {
        margin-right: 0;
    }
    section.storiesarea .inner .row.double-box:nth-child(odd) .box:first-child,
    section.storiesarea .inner .row.double-box:nth-child(even) .box:last-child {
        margin-bottom: 2.5rem;
    }
}

/* link box */
section.storiesarea .inner .row .link-box .title {
    font-size: 2rem;
    line-height: 1.35;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--dark-text-color);
    font-family: 'Open Sans Condensed', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}

section.storiesarea .inner .row .link-box ul.link-list {
    display: block;
    margin: 0;
    overflow: hidden;
    border-bottom: 1px solid var(--light-color);
}
section.storiesarea .inner .row .link-box ul.link-list a {
    display: block;
    border-top: 1px solid var(--light-color);
    font-size: 1.15rem;
    opacity: 0.77;
    padding: 1rem 0.75rem;
    min-height: 3.5rem;
    line-height: 1.5;
    box-sizing: border-box;
    transition: color 0.2s, opacity 0.2s;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
section.storiesarea .inner .row .link-box ul.link-list a > * {
    display: block;
    float: left;
}
section.storiesarea .inner .row .link-box ul.link-list a span {
    min-height: 1.5rem;
    line-height: 1.5rem;
    overflow: hidden;
    max-width: calc(100% - 3rem);
}
section.storiesarea .inner .row .link-box ul.link-list a svg {
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0.5;
    fill: var(--dark-text-color);
    position: relative;
    transition: opacity 0.2s, fill 0.2s, right 0.2s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
}

section.storiesarea .inner .row .link-box ul.link-list a:hover {
    color: var(--theme-color);
    opacity: 1;
}
section.storiesarea .inner .row .link-box ul.link-list a:hover svg {
    fill: var(--theme-color);
    opacity: 1;
    right: 0.5rem;
}

/* photo box */
section.storiesarea .inner .row .image-box {
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.storiesarea .inner .row .image-box img {
    height: auto;
    width: 100%;
}

/* responsiveness for box */
@media only screen and (max-width: 750px) {
    section.storiesarea .inner .row {
        margin-bottom: 1.5rem !important;
    }
    section.storiesarea .inner .row .box:not(.image-box) {
        padding: 1.5rem;
        zoom: 85%;
    }
    section.storiesarea .inner .row.double-box:nth-child(odd) .box:first-child,
    section.storiesarea .inner .row.double-box:nth-child(even) .box:last-child {
        margin-bottom: 1.75rem !important;
    }
}
