section.timeline {
    height: auto;
    overflow: hidden;
    width: 100%;
    display: block;
    padding: 3.5rem 1.5rem;
    box-sizing: border-box;
}

/* timeline part with timeline */
section.timeline .timeline-part {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}

/* timeline on the left */
section.timeline .timeline-part .timeline {
    float: left;
    margin: 0 calc((var(--timeline-outer-width) - var(--timeline-inner-width)) / 2);
    background-color: var(--white-color);
    border: 1px solid var(--lightish-color);
    /*box-shadow: 0 0.05rem 0.4rem var(--text-shadow-lighter-color);*/
    flex-basis: var(--timeline-inner-width);
    display: block;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
section.timeline .timeline-part:not(.timeline-end) .timeline {
    border-bottom: none;
}
section.timeline .timeline-part:not(.timeline-start) .timeline {
    border-top: none;
}

/* bet no one will notice this */
section.timeline .timeline-part .timeline:before {
    content: 'Made by Gabriel Romualdo';
    font-size: 0.7rem;
    line-height: calc(var(--timeline-inner-width) - 2px);
    height: var(--timeline-inner-width);
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--text-color);
    width: 15rem;
    opacity: 0.05;
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;

    /* gotta use radians guys */
    transform: rotate(/*90deg*/ -1.5707963268rad);

    transform-origin: 0 0;
}

/* get rid of bottom box shadow */
section.timeline .timeline-part:not(.timeline-end) .timeline:after {
    background-color: var(--page-background-color);
    height: 2.5rem;
    content: '';
    position: absolute;
    bottom: -2.5rem;
    left: -2.5rem;
    right: -2.5rem;
}

/* timeline height on timeline part with row of box(es) */
section.timeline .timeline-part .timeline {
    padding: 1rem 0;
}

/* timeline start and end have rounded top or bottom respectively */
section.timeline .timeline-part.timeline-start .timeline {
    border-top-left-radius: calc(var(--timeline-inner-width) / 2);
    border-top-right-radius: calc(var(--timeline-inner-width) / 2);
}
section.timeline .timeline-part.timeline-end .timeline {
    border-bottom-left-radius: calc(var(--timeline-inner-width) / 2);
    border-bottom-right-radius: calc(var(--timeline-inner-width) / 2);
}

/* timeline separator */
section.timeline .timeline-part.separator .timeline {
    height: 5rem;
}

/* timeline separator responsiveness */
@media only screen and (max-width: 650px) {
    section.timeline .timeline-part.separator .timeline {
        height: 3rem;
    }
}

/* timeline part content container */
section.timeline .timeline-part .content {
    display: flex;
    flex-direction: row;
    float: left;
    box-sizing: border-box;
    flex-basis: calc(100% - var(--timeline-outer-width));
    padding-left: 1.75rem;
    margin: 1rem 0;
}

/* timeline content box */
section.timeline .timeline-part .content .box {
    background-color: var(--white-color);
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    border: 1px solid var(--lightish-color);
    /*box-shadow: 0 0.05rem 0.4rem var(--text-shadow-lighter-color);*/
    line-height: 1.75;
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
}
section.timeline .timeline-part .content .box:not(.article-box) *:not(:last-child) {
    margin-bottom: 1.25rem;
}
section.timeline .timeline-part .content .box .italic {
    margin-right: 0.15rem;
    font-style: italic;
}

/* timeline responsiveness */
@media only screen and (max-width: 750px) {
    section.timeline {
        padding: 2rem 0.5rem;
        zoom: 95%;
    }

    section.timeline .timeline-part .content .box {
        font-size: 1.15rem;
        line-height: 1.65;
    }

    :root {
        --timeline-outer-width: 5rem;
        --timeline-inner-width: 1.25rem;
    }
}

/* article box */
section.timeline .timeline-part .content .box.article-box {
    width: calc(50% - 1rem);
    float: left;
    display: flex;
    flex-direction: row;
    padding: 0;
    border: none;
}

section.timeline .timeline-part .content.single-box .box.article-box {
    width: 100%;
}

section.timeline .timeline-part .content:not(.single-box) a.box.article-box:first-child {
    margin-right: 2rem;
}

section.timeline .timeline-part .content a.box.article-box {
    box-shadow: 0 0.05rem 0.4rem var(--text-shadow-lighter-color);
    opacity: 0.95;
    transition: transform 0.2s, opacity 0.2s, box-shadow 0.2s;
    overflow: hidden;
}
section.timeline .timeline-part .content a.box.article-box:hover {
    transform: translateY(-4px);
    box-shadow: 0 0.1rem 0.8rem var(--text-shadow-light-color);
    opacity: 1;
}
section.timeline .timeline-part .content a.box.article-box:active {
    transform: translateY(-2px);
    box-shadow: 0 0.075rem 0.6rem var(--text-shadow-light-color);
    opacity: 1;
}

/* image if applicable */
section.timeline .timeline-part .content .box.article-box .image {
    flex-basis: 37.5%;
    background-color: red;
    position: relative;
    border-right: 1px solid var(--light-color);
}
section.timeline .timeline-part .content .box.article-box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* inner content */
section.timeline .timeline-part .content .box.article-box .image + .inner {
    flex-basis: 62.5%;
}
section.timeline .timeline-part .content .box.article-box .inner {
    padding: 1rem 1.5rem;
}

section.timeline .timeline-part .content .box.article-box .inner h1.title {
    font-size: 1.75rem;
    line-height: 1.35;
    color: var(--dark-text-color);
    margin-bottom: 0.75rem;
    font-weight: 600;
}
section.timeline .timeline-part .content .box.article-box .inner p.preview-text {
    font-size: 1rem;
    opacity: 0.9;
    line-height: 1.65;
}

/* single box widths */
section.timeline .timeline-part .content.single-box .box.article-box .image {
    flex-basis: 25%;
}
section.timeline .timeline-part .content.single-box .box.article-box .image + .inner {
    flex-basis: 75%;
}

/* responsiveness for article box */
@media only screen and (max-width: 1100px) and (min-width: 650px), (max-width: 620px) {
    section.timeline .timeline-part .content:not(.single-box) .box.article-box {
        display: block;
    }
    section.timeline .timeline-part .content:not(.single-box) .box.article-box .image {
        height: 12.5rem;
    }
    section.timeline .timeline-part .content:not(.single-box) .box.article-box .image,
    section.timeline .timeline-part .content:not(.single-box) .box.article-box .inner {
        width: 100%;
        display: block;
        float: left;
        clear: both;
        box-sizing: border-box;
    }
}
@media only screen and (max-width: 800px) {
    section.timeline .timeline-part .content.single-box .box.article-box {
        display: block;
    }
    section.timeline .timeline-part .content.single-box .box.article-box .image {
        height: 12.5rem;
    }
    section.timeline .timeline-part .content.single-box .box.article-box .image,
    section.timeline .timeline-part .content.single-box .box.article-box .inner {
        width: 100%;
        display: block;
        float: left;
        clear: both;
        box-sizing: border-box;
    }
}
@media only screen and (max-width: 650px) {
    section.timeline .timeline-part .content {
        display: block !important;
    }
    section.timeline .timeline-part .content .box.article-box:not(.single-box):first-child {
        margin-right: 0 !important;
        margin-bottom: 1.5rem;
    }
    section.timeline .timeline-part .content .box.article-box {
        width: 100%;
    }
}

@media only screen and (max-width: 750px) {
    section.timeline .timeline-part .content {
        zoom: 95%;
    }
}

/* timeline date */
section.timeline .timeline-part .date {
    width: var(--timeline-outer-width);
    position: absolute;
    top: -2rem;
    left: 0;
    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 0 0.05rem 0.4rem var(--text-shadow-lighter-color);
    overflow: hidden;
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    user-select: none;
}

section.timeline .timeline-part .date .month {
    color: var(--white-color);
    background-color: var(--theme-color);
    line-height: 1;
    box-sizing: border-box;
    width: 100%;
    padding: 0.25rem 0.75rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
}
section.timeline .timeline-part .date .day {
    font-size: 2rem;
    line-height: 1;
    padding: 0.25rem 0.75rem;
    padding-bottom: 0.35rem;
    text-align: center;
    letter-spacing: 0.05rem;
}
